@import "tailwindcss";


th,tr,td{
    text-align: left;
}

th,td{
 padding: 0.3rem;
}

tr{
    border-bottom: #8a8989 solid 2px;
}
.scrollbar-hidden::-webkit-scrollbar{
    appearance: none !important;
    
}